body {
    background-color: #f9f9f9 !important;
    font-family: 'Montserrat', sans-serif !important ;
}

nav {
    position: sticky;
    top : 0 ; 
    width: 100%;
    
}
ul {
    list-style-type: none !important ;
    padding-left: 0 !important;
    margin-top: 20px !important;
    display: flex;
}

li {
    margin-right: 26px;
    padding: 20px 11px ;
    display: inline;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border-radius: 15px;
    color : #1f4d1b ; 
    transition: 0.3s;
}

li:hover {
    background-color: #1f4d1b;
    color: #f9f9f9;
}

